.outer {
              width: 960px;
              min-height: 45px;
              height: auto;
              color: black;
              background-color: lightgray;
              border: 1px solid black;
              padding: 5px;
              word-wrap: break-word;
          }