#download-links a:link{
    background-color: #47d147;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


#download-links a:hover{
    background-color: #47d147;
}
