background-color:black;
    padding:20px;
    min-height: 100%;
    height: 100%;

    .bf-title {
        color: #A3A3A3;
        font-size: 48px;
        height: 88px;
        padding:5px 0;
        text-transform: uppercase;
        text-align: center;
    }

    .bf-special {
        color: #FFF;
        font-family: "signPainter", sans-serif;
        font-size: 173px;
        height:135px;
        padding:20px 0;
        text-align: center;
    }

    .bf-sale {
        color: #FFD700;
        font-family: "Phosphate", sans-serif;
        font-size: 300px;
        height:220px;
        padding:64px 0 20px 0;
        text-align: center;
        text-transform: uppercase;
    }

    .bf-banner {
        background-color: #FFD700;
        height:235px;

        .bf-days-remaining {
            color: #FFF;
            font-size:50px;
            font-weight:bold;
            padding:64px 0 20px 0;
            text-align: center;
        }

        .bf-offer {
            color: #4A4A4A;
            font-size:30px;
            font-weight:bold;
            padding:30px 0 20px 0;
            text-align: center;
        }
    }

    .bf-banner-bottom {
        background-color: #FFF;
        height:65px;

        .bf-extra-spend {
            color: #4A4A4A;
            font-size:30px;
            font-weight:bold;
            padding:22px;
            text-align: center;
        }
    }

    .bf-valid-from-to {

        color: #9B9B9B;
        font-size: 18px;
        text-align: center;
        padding: 24px;

    }
