#WIDGET_ID-WIDGET_INSTANCE_ID {
#searchWidget_v1-wi800326 {
// Use class rather than id to allow multiple
// instances of this widget on a single page.
.search-widget {
		margin: 5px;
		.input-group {
			.input-group-btn {
				button.simple-search {
					border-radius: 0 4px 4px 0;
				}
			}
		}
	}
}
}