#global-vm-demoContainer {
  margin-top:20px;

  .links a {
    display:block;
  }

  .linksContainer {
    max-height: 300px;
    overflow-y: scroll;
  }

  .discountInfo {
    span {
      font-size:9px;
      font-weight: lighter;
    }
  }
}
