

/***** Colors *****/

@ButtonPrimaryBackgroundColor : #000000;
@ButtonPrimaryBorderRadius : 4px;
@ButtonPrimaryFontFamily : @sansFontFamily;
@ButtonPrimaryFontStyle : normal;
@ButtonPrimaryFontWeight : normal;
@ButtonPrimarySize : medium;
@ButtonPrimaryTextColor : #fffdfd;
@ButtonPrimaryTextDecoration : none;
@ButtonPrimaryUseGradient : false;
@ButtonSecondaryBackgroundColor : #f7f7f7;
@ButtonSecondaryBorderRadius : 4px;
@ButtonSecondaryFontFamily : @sansFontFamily;
@ButtonSecondaryFontStyle : normal;
@ButtonSecondaryFontWeight : normal;
@ButtonSecondarySize : medium;
@ButtonSecondaryTextColor : #3d3d3d;
@ButtonSecondaryTextDecoration : none;
@ButtonSecondaryUseGradient : false;
@LinkColor : #000000;
@LinkHoverColor : #4d428f;
@LinkVisitedColor : #565152;
@NavbarBackgroundColor : #ffffff;
@NavbarBackgroundHoverColor : #ffffff;
@NavbarLinkColor : #3d3d3d;
@NavbarLinkHoverColor : #195d8d;
@NavbarTextColor : #333333;
@SubNavigationBackgroundColor : #ffffff;
@SubNavigationBackgroundHoverColor : #ffffff;
@SubNavigationLinkColor : #3d3d3d;
@SubNavigationLinkHoverColor : #195d8d;
@SubNavigationTextColor : #6f7178;
@TextColor : #0c0b0b;
@mobileNavBarButtonColor : #333333;


/***** Typography *****/

@H1FontFamily : @sansFontFamily;
@H1FontSize : 2.75rem;
@H1FontStyle : inherit;
@H1FontWeight : bold;
@H1LineHeight : 150%;
@H1TextAlign : inherit;
@H1TextColor : inherit;
@H1TextDecoration : inherit;
@H2FontFamily : inherit;
@H2FontSize : 2.5rem;
@H2FontStyle : inherit;
@H2FontWeight : bold;
@H2LineHeight : 150%;
@H2TextAlign : inherit;
@H2TextColor : inherit;
@H2TextDecoration : inherit;
@H3FontFamily : inherit;
@H3FontSize : 2rem;
@H3FontStyle : inherit;
@H3FontWeight : bold;
@H3LineHeight : 150%;
@H3TextAlign : inherit;
@H3TextColor : inherit;
@H3TextDecoration : inherit;
@H4FontFamily : inherit;
@H4FontSize : 1.5rem;
@H4FontStyle : inherit;
@H4FontWeight : bold;
@H4LineHeight : 150%;
@H4TextAlign : inherit;
@H4TextColor : inherit;
@H4TextDecoration : inherit;
@H5FontFamily : inherit;
@H5FontSize : 1.25rem;
@H5FontStyle : inherit;
@H5FontWeight : normal;
@H5LineHeight : 150%;
@H5TextAlign : inherit;
@H5TextColor : inherit;
@H5TextDecoration : inherit;
@H6FontFamily : inherit;
@H6FontSize : 0.85rem;
@H6FontStyle : inherit;
@H6FontWeight : normal;
@H6LineHeight : 150%;
@H6TextAlign : inherit;
@H6TextColor : inherit;
@H6TextDecoration : inherit;
@ParagraphFontFamily : inherit;
@ParagraphFontSize : 1rem;
@ParagraphFontStyle : inherit;
@ParagraphFontWeight : normal;
@ParagraphLineHeight : 150%;
@ParagraphTextAlign : inherit;
@ParagraphTextColor : inherit;
@ParagraphTextDecoration : inherit;
@SiteFontFamily : @sansFontFamily;
@SiteFontSize : 18px;
@SiteFontStyle : normal;
@SiteFontWeight : normal;
@SiteLineHeight : 150%;
@SiteTextAlign : left;
@SiteTextColor : #0c0b0b;
@SiteTextDecoration : none;


/***** General *****/

@FooterBackgroundColor : #ffffff;
@FooterBackgroundColorBottom : #efddd5;
@FooterBackgroundColorTop : #900c0c;
@FooterBackgroundImageAttachment : scroll;
@FooterBackgroundImagePosition : top center;
@FooterBackgroundImageRepeat : repeat;
@FooterBackgroundImageURL : url(/file/v3224642082723869085/general/Construction_01_0.jpg);
@FooterBackgroundUseGradient : true;
@HeaderBackgroundColor : #ffffff;
@HeaderBackgroundColorBottom : #ffffff;
@HeaderBackgroundColorTop : #ffffff;
@HeaderBackgroundImageAttachment : scroll;
@HeaderBackgroundImagePosition : bottom center;
@HeaderBackgroundImageRepeat : repeat-x;
@HeaderBackgroundImageURL : url(/img/header-btm-line.png);
@HeaderBackgroundUseGradient : false;
@HeaderTopBackgroundColor : #ffffff;
@HeaderTopBackgroundColorBottom : #efddd5;
@HeaderTopBackgroundColorTop : #900c0c;
@HeaderTopBackgroundImageAttachment : fixed;
@HeaderTopBackgroundImagePosition : top center;
@HeaderTopBackgroundImageRepeat : repeat;
@HeaderTopBackgroundImageURL : none;
@HeaderTopBackgroundUseGradient : true;
@SiteBackgroundColor : #f6eded;
@SiteBackgroundColorBottom : #faf5f5;
@SiteBackgroundColorTop : #f0e9e9;
@SiteBackgroundImageAttachment : fixed;
@SiteBackgroundImagePosition : top center;
@SiteBackgroundImageRepeat : no-repeat;
@SiteBackgroundImageURL : none;
@SiteBackgroundUseGradient : true;
@SitePageBackgroundColor : #f8f8f8;
