.notifierDemoContainer {

  .buttons {
    > div {
      margin: 5px;
      button {
        min-width: 140px;
        span {
          float: left;
        }
      }
    }
  }

  .notifier-controls {
    display: flex;
    align-items: flex-end;
    .form-group {
      margin-bottom: 0;
    }
  }

  #notifier, #notifications {
    margin-top:20px;
  }
}
