#requestAccount_v1-wi800298 {
.request-new-account {

  margin-bottom: 35px;

  .contact-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px
  }

  .customerInfo {
    padding: 0;

    .no-padding {
      padding: 0;
    }

    h2 {
      border-bottom: 1px solid @ThemeDimGrey;
      margin-bottom: 20px;
    }
    .row {

      .form-group {
        label {
          display: block;
          font-size: 12px;
          font-weight: normal;

          .important {
            display: inlin-block;
            margin-right: 5px;
            color: @ThemeRed;
          }
        }

        input[type="text"] {
          width: 100%;
          max-width: 405px;
          line-height: 26px;
          padding: 0 10px;
          border: 1px solid @ThemeDimGrey;
        }

        select {
          min-width: 30%;
        }
      }
    }

    .clause {
      margin-top: 50px;
    }

    .button-row {
      margin: 50px 0;
      display: flex;

      .button-wrapper {
        margin: 0 7px;

        input {
          width: 200px
        }
      }
    }

    @media (max-width: 550px) {
      .button-row {
        .button-wrapper {
          width: 50%;

          input {
            width: 100%
          }
        }
      }
    }
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: @ThemeDimGrey;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: @ThemeDimGrey;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: @ThemeDimGrey;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: @ThemeDimGrey;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
    @media (max-width: 800px) {
      width: 100%;
    }
  }

  .input-containter {
    margin-bottom: 16px;
  }

  input[type=submit] {
    background-color: @ThemeRed;
    color: white;
    padding: 12px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    @media (max-width: 800px) {
      width: 100%;
      margin-right: 0px;
    }
  }

  input[type=submit]:hover {
    background-color: @ThemeBrightRed;
  }

  input[type=submit]:disabled {
    background-color: @ThemeDimGrey;
    cursor: default;
  }

  textarea {
    height: 200px;
    @media (max-width: 1200px) {
      height: 150px;
    }
    @media (max-width: 991px) {
      height: 100px;
    }
  }

  .container-wrapper {
    background-color: @ThemeLightGrey;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    float: left;
  }

  .container {
    width: 60%;
    float: left;
    @media (max-width: 1200px) {
      width: 75%;
    }
    @media (max-width: 991px) {
      width: 100%;
    }
  }

  a {
    cursor: pointer;
    color: @ThemeBlack;
    text-decoration: underline;
    position: relative;
    top: 3px;
    @media (max-width: 800px) {
      margin-left: 45%;
    }
  }

  a:hover {
    text-decoration: none;
  }

  .name, .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 800px) {
      flex-direction: column;
    }

    div {
      width: 49%;
      @media (max-width: 800px) {
        width: 100%;
      }
    }
  }

  .postData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 800px) {
      flex-direction: column;
    }

    div {
      width: 24%;
      @media (max-width: 800px) {
        width: 100%;
      }
    }

    div:first-child {
      width: 49%;
      @media (max-width: 800px) {
        width: 100%;
      }
    }
  }

  select {
    padding: 5px;
  }

}
}