#WIDGET_ID-WIDGET_INSTANCE_ID {
#listWidget_v1-wi600160 {
/* ---------------------------------------------------------------------- */
/*	Blank Widget Styles
/* ---------------------------------------------------------------------- */

// Use class rather than id to allow multiple
// instances of this widget on a single page.
.blank-widget {

}

}
}