

/***** Colors *****/

@ButtonPrimaryBackgroundColor : #248e19;
@ButtonPrimaryBorderRadius : 5px;
@ButtonPrimaryFontFamily : @sansFontFamily;
@ButtonPrimaryFontStyle : normal;
@ButtonPrimaryFontWeight : normal;
@ButtonPrimarySize : medium;
@ButtonPrimaryTextColor : #fcf7f7;
@ButtonPrimaryTextDecoration : none;
@ButtonPrimaryUseGradient : true;
@ButtonSecondaryBackgroundColor : #3eba1e;
@ButtonSecondaryBorderRadius : 4px;
@ButtonSecondaryFontFamily : @sansFontFamily;
@ButtonSecondaryFontStyle : normal;
@ButtonSecondaryFontWeight : normal;
@ButtonSecondarySize : medium;
@ButtonSecondaryTextColor : #fffefe;
@ButtonSecondaryTextDecoration : none;
@ButtonSecondaryUseGradient : false;
@LinkColor : #181414;
@LinkHoverColor : #f1f116;
@LinkVisitedColor : #141f14;
@NavbarBackgroundColor : #ffffff;
@NavbarBackgroundHoverColor : #ffffff;
@NavbarLinkColor : #060505;
@NavbarLinkHoverColor : #198d44;
@NavbarTextColor : #161613;
@SubNavigationBackgroundColor : #27a775;
@SubNavigationBackgroundHoverColor : #ffffff;
@SubNavigationLinkColor : #000000;
@SubNavigationLinkHoverColor : #75b265;
@SubNavigationTextColor : #212018;
@TextColor : #141a14;
@mobileNavBarButtonColor : #333333;


/***** Typography *****/

@H1FontFamily : inherit;
@H1FontSize : 2.75rem;
@H1FontStyle : normal;
@H1FontWeight : normal;
@H1LineHeight : 150%;
@H1TextAlign : inherit;
@H1TextColor : #2a2222;
@H1TextDecoration : none;
@H2FontFamily : inherit;
@H2FontSize : 2.25rem;
@H2FontStyle : normal;
@H2FontWeight : normal;
@H2LineHeight : 150%;
@H2TextAlign : inherit;
@H2TextColor : inherit;
@H2TextDecoration : none;
@H3FontFamily : inherit;
@H3FontSize : 1.75rem;
@H3FontStyle : normal;
@H3FontWeight : normal;
@H3LineHeight : 150%;
@H3TextAlign : inherit;
@H3TextColor : inherit;
@H3TextDecoration : none;
@H4FontFamily : inherit;
@H4FontSize : 1.25rem;
@H4FontStyle : normal;
@H4FontWeight : normal;
@H4LineHeight : 150%;
@H4TextAlign : inherit;
@H4TextColor : inherit;
@H4TextDecoration : none;
@H5FontFamily : inherit;
@H5FontSize : 1rem;
@H5FontStyle : normal;
@H5FontWeight : normal;
@H5LineHeight : 150%;
@H5TextAlign : inherit;
@H5TextColor : inherit;
@H5TextDecoration : none;
@H6FontFamily : inherit;
@H6FontSize : 1rem;
@H6FontStyle : normal;
@H6FontWeight : normal;
@H6LineHeight : 150%;
@H6TextAlign : inherit;
@H6TextColor : inherit;
@H6TextDecoration : none;
@ParagraphFontFamily : inherit;
@ParagraphFontSize : 1rem;
@ParagraphFontStyle : normal;
@ParagraphFontWeight : normal;
@ParagraphLineHeight : 150%;
@ParagraphTextAlign : inherit;
@ParagraphTextColor : inherit;
@ParagraphTextDecoration : none;
@SiteFontFamily : @sansFontFamily;
@SiteFontSize : 18px;
@SiteFontStyle : normal;
@SiteFontWeight : normal;
@SiteLineHeight : 150%;
@SiteTextAlign : left;
@SiteTextColor : #141a14;
@SiteTextDecoration : none;


/***** General *****/

@FooterBackgroundColor : #4caf50;
@FooterBackgroundColorBottom : #ffffff;
@FooterBackgroundColorTop : #ffffff;
@FooterBackgroundImageAttachment : scroll;
@FooterBackgroundImagePosition : top left;
@FooterBackgroundImageRepeat : repeat-x;
@FooterBackgroundImageURL : none;
@FooterBackgroundUseGradient : false;
@HeaderBackgroundColor : #ffffff;
@HeaderBackgroundColorBottom : #ffffff;
@HeaderBackgroundColorTop : #ffffff;
@HeaderBackgroundImageAttachment : scroll;
@HeaderBackgroundImagePosition : bottom center;
@HeaderBackgroundImageRepeat : repeat-x;
@HeaderBackgroundImageURL : url(/img/header-btm-line.png);
@HeaderBackgroundUseGradient : false;
@HeaderTopBackgroundColor : #0d1e0e;
@HeaderTopBackgroundColorBottom : #4caf50;
@HeaderTopBackgroundColorTop : #2d6e30;
@HeaderTopBackgroundImageAttachment : fixed;
@HeaderTopBackgroundImagePosition : top left;
@HeaderTopBackgroundImageRepeat : repeat-x;
@HeaderTopBackgroundImageURL : none;
@HeaderTopBackgroundUseGradient : false;
@SiteBackgroundColor : #ffffff;
@SiteBackgroundColorBottom : #ffffff;
@SiteBackgroundColorTop : #ffffff;
@SiteBackgroundImageAttachment : fixed;
@SiteBackgroundImagePosition : top center;
@SiteBackgroundImageRepeat : no-repeat;
@SiteBackgroundImageURL : none;
@SiteBackgroundUseGradient : false;
@SitePageBackgroundColor : #ffffff;
